<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.duckduckgo.vpn.internal">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application>
        <activity android:name=".feature.rules.ExceptionRulesDebugActivity">
        </activity>
        <activity
            android:name=".feature.VpnInternalSettingsActivity"
            android:process=":vpn"
            android:label="@string/vpnDevSettingsTitle"/>

        <activity
            android:name=".feature.health.VpnDiagnosticsActivity"
            android:parentActivityName="com.duckduckgo.mobile.android.vpn.ui.onboarding.DeviceShieldEnabledActivity"
            android:process=":vpn" >
        </activity>


    </application>

</manifest>